$primary: #0ab975;
$red: #c0392b;
$dark-primary: #1f1f1f;
$dark-secondary: #5f5f5f;
$light-primary: lighten(desaturate($primary, 85%), 55%);
$light-secondary: #f1f3f2;

@import "./defaults.scss";
@import "./mixins.scss";
@import "./components/landing/navigation.scss";
@import "./components/landing/header.scss";
@import "./components/landing/features.scss";
@import "./components/landing/pricing.scss";
@import "./components/landing/trial.scss";
@import "./components/landing/users.scss";
@import "./components/landing/footer.scss";
@import "./components/layout.scss";
@import "./components/profile/settings.scss";
@import "./components/profile/index.scss";
@import "./components/profile/classes.scss";
@import "./components/profile/plans.scss";
@import "./components/profile/trainers.scss";
@import "./components/temp.scss";
