<header class="lan-head">
    <p class="primary">All-in-One</p>
    <h1>Membership Management <br> Software</h1>
    <h2>An easy-to-use cloud-based platform to manage key aspects of a gym membership</h2>
    <LinkTo @route="signup">
        <span>Try it now — free for 30 days</span>
    </LinkTo>
    <p>No credit card needed</p>
</header>
