<section class="lan-trial">
    <p class="primary">Free trial</p>
    <h2>Start your free trial today</h2>
    <p>We offer a 30 day free trial</p>
    <a href="/signup">
        <span>Start your free trial</span>
    </a>
</section>