Hi <%= @user.email %>,

Thanks for registering! To confirm your registration click the URL below.

<%= confirm_email_api_v1_user_url(@user.confirm_token, @user.confirm_token) %>

<p>&copy; 2020 GymSidekiq. All Rights Reserved.</p>
