<style>

#members {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

{{route-links}}

<h1>Listing Profile Classes</h1>
<div>
{{#each profileClasses as |class|}}
<div style="float:left;"> <span style="color: blue;">{{class.title}}</span></div>
<div style="float:left;">
  <ul style="display: inline-block;">
    <div style="position: relative;margin: 30px -40px;">
      <span style="color: green;">TRAINERS</span>
      {{#each class.trainers as |trainer|}}
       <li style="list-style-type: none;">
         {{trainer.first_name}}
        </li>
      {{/each}}
    </div>
    <div style="position: relative;top: 30px;left: -40px;">
      <span style="color: orange;">STUDENTS</span>
      {{#each class.members as |member|}}
       <li style="list-style-type: none;">
         {{member.first_name}}
       </li>
      {{/each}}
    </div>
  </ul>
</div>
{{/each}}
</div>
