<h1>Listing Profile Classes</h1>
<div>
  {{#each profileClasses as |class|}}
  <div style="float:left;"> <span style="color: blue;">{{class.title}}</span></div>
  <div style="float:left;">
    <ul style="display: inline-block;">
      <div style="position: relative;margin: 30px -40px;">
        <span style="color: green;">TRAINERS</span>
        {{#each class.trainers as |trainer|}}
        <li style="list-style-type: none;">
          {{trainer.first_name}}
        </li>
        {{/each}}
      </div>
      <div style="position: relative;top: 30px;left: -40px;">
        <span style="color: orange;">STUDENTS</span>
        {{#each class.members as |member|}}
        <li style="list-style-type: none;">
          {{member.first_name}}
        </li>
        {{/each}}
      </div>
    </ul>
  </div>
  {{/each}}
</div>
<div style="margin-top: 20px;">
  {{#link-to  "user.profile.classes.new" class="temp-btn"}}
    Create New Class
  {{/link-to}}
</div>
