/*section creation styling*/

html {
  background-color: red;
}
.weekDays-selector input {
  display: none !important;
  margin-right: 30px;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #2ad705;
  color: #ffffff;
}

#timeSelection {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  /*background-color: white;*/
  margin-top: 20px;
  display: none;
}

.time-picker {
  width: 210px !important;
  position: relative;
  top: 30px;
}

#selectedTime {
  font-size: 20px;
}

.weekdays {
  width: 50px;
  float: left;
}

#sections {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#sections td,
#sections th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sections tr:nth-child(even) {
  background-color: #f2f2f2;
}

#sections tr:hover {
  background-color: #ddd;
}

#sections th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
