<header class="mod-header">
<div class="layout-wrap full">
<h1>
<a title="return to the homepage of GymSidekiq" href="/">
  <img alt="Logo of GymSidekiq" src="{{rootURL}}assets/images/gymSidekiqLogo/landing-page-logo.png" />
</a></h1>
<div class="toggle button outline-dark small">
Menu
<i class="fa fa-fw fa-navicon"></i>
</div>
<nav class="main">
<ul>
<li>
<a class="active" href="/">Home</a>
</li>
<li class="tour-toggle">
<a href="">Docs</a>
</li>
<li>
<a href="">Blog</a>
</li>
<li>
<a href="">Pricing</a>
</li>
{{#if session.isAuthenticated}}
  <li>
    {{#link-to  "profiles.dashboard" class="btn btn-warning"}}
      Dashboard
    {{/link-to}}
  </li>
{{/if}}
</ul>
</nav>
<nav class="cta">
<ul>
{{#if session.isAuthenticated}}
  <li>
    <a class="button outline-dark small" {{action 'logout'}}>Logout</a>
  </li>
{{else}}
  <li>
    {{#link-to  "login" class="button outline-dark small"}}
      Log in
    {{/link-to}}
  </li>
  <li>
    {{#link-to  "signup" class="button small"}}
      Sign up
    {{/link-to}}
  </li>
{{/if}}
</ul>
</nav>
</div>
</header>
