<footer>
    <div class="mod-footer">
        <div class="layout-wrap">
            <div class="o-grid">
                <nav class="u-span-12 u-span-6@md u-span-3@xl">
                    <h2>GymSidekiq</h2>
                    <ul>
                        <li><a href="/">Homepage</a></li>
                        <li><a href="http://docs.GymSidekiq.com">Documentation</a></li>
                        <li><a href="/plans">Plans &amp; pricing</a></li>
                    </ul>
                </nav>
                <nav class="u-span-12 u-span-6@md u-span-3@xl">
                    <h2>Product features</h2>
                    <ul>
                        <li><a href="/tour/errors">Flexible Memberships</a></li>
                        <li><a href="/tour/performance">Membership Tracking</a></li>
                        <li><a href="/tour/hosts">Check-in System</a></li>
                        <li><a href="/tour/metrics">Membership Reports</a></li>
                        <li><a href="/tour/workflow">Flexible Payments</a></li>
                        <li><a href="/tour/metrics">Member Portal</a></li>
                        <li><a href="/tour/workflow">AIA</a></li>
                    </ul>
                </nav>
                <nav class="u-span-12 u-span-6@md u-span-3@xl">
                    <h2>Support</h2>
                    <p>Do you need help, have a feature request or just need someone to rubber duck with? Get in touch
                        with one of
                        our engineers:</p>
                    <ul>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </nav>
                <nav class="u-span-12 u-span-6@md u-span-3@xl">
                    <h2>About Us</h2>
                    <p>GymSidekiq is located in beautiful Amsterdam. We love <a href="/waffles">stroopwafels</a>. If you
                        do too,
                        <a href="mailto:support@GymSidekiq.com">let us know</a>. We might send you some!</p>
                    <ul>
                        <li><a href="/terms">Terms &amp; conditions</a></li>
                        <li><a href="/privacy-policy">Privacy policy</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div style="margin: 10px;" class="container">
        <div class="row text-center">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="pb_font-14">&copy; 2020 GymSidekiq. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>