<div class="profile-section tall classes">
    <h2>Classes</h2>
    {{#each classes as |class|}}
    <div class="profile-section-item">
        <h3>{{class.title}}</h3>
    </div>
    {{/each}}
</div>