<div class="profile-section tall trainers">
    <h2>Trainers</h2>
    {{#each trainers as |trainer|}}
    <div class="profile-section-item">
        <h3>{{trainer.fullName}}</h3>
    </div>
    {{/each}}
</div>