<h1>Listing Profile Plans</h1>
<div>
  {{#each profilePlansList as |plan|}}
  <div style="float:left; margin-right: 60px;margin-left: 10px;">
    <span style="color: blue;">{{plan.title}}</span>
    <div style="margin-left: 40px;">
      <ul style="display: inline-block;">
        <div style="position: relative;margin: 30px -40px;">
          <span style="color: green;">CLASSES</span>
          {{#each plan.classes as |class|}}
          <li style="list-style-type: none;">
            {{class.title}}
          </li>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>
  {{/each}}
</div>
<div style="margin-top: 20px;">
{{#link-to  "user.profile.plans.new" class="temp-btn"}}
  Create New Plan
{{/link-to}}
</div>
